services:
  db:
    image: postgres:18
    volumes:
      - nihongo-data:/var/lib/postgresql
    env_file:
      - ./.env
  api:
    build:
      context: ./
      dockerfile: ./apps/api/Dockerfile
    env_file:
      - ./.env
    ports:
      - "8010:8000"
    depends_on:
      - db

  platform:
    build:
      context: ./
      dockerfile: ./apps/platform/Dockerfile
    env_file:
      - ./.env
    ports:
      - "3010:3000"
    depends_on:
      - api

volumes:
  nihongo-data:
