services:
  db:
    image: postgres:18
    volumes:
      - postgres-data:/var/lib/postgresql
    env_file:
      - ./.env
  api:
    build:
      context: ./
      dockerfile: ./apps/api/Dockerfile
    env_file:
      - ./.env
    depends_on:
      - db

  platform:
    build:
      context: ./
      dockerfile: ./apps/platform/Dockerfile
    env_file:
      - ./.env
    ports:
      - "3000:3000"
    depends_on:
      - api
    environment:
      - HOST=0.0.0.0
      - PORT=3000
      - NITRO_HOST=0.0.0.0
      - NITRO_PORT=3000
      - NODE_ENV=production

volumes:
  postgres-data:
